{%- set external_urls = {
  'github': 'https://github.com/Qiskit-Extensions/qiskit-cold-atom',
  'tutorials': 'https://github.com/Qiskit-Extensions/qiskit-cold-atom/tree/master/docs/tutorials',
}
-%}
