{%- set external_urls = {
  'github': 'https://github.ibm.com/DEG/cold-atoms',
  'docs': 'https://qiskit.org/documentation/',
  'slack': 'https://qiskit.slack.com',
  'home': 'https://qiskit.org/',
  'resources': 'https://qiskit.org/learn',
  'tutorials': 'https://github.ibm.com/DEG/cold-atoms/tree/master/docs/tutorials',
}
-%}
